
    <div class="left-menu">
        <div class="link" id="menu-search-geo">Find by geo</div>
        <div class="link" id="menu-search-city">Find by city</div>
    </div>
    <div class="content">
        <div id="result">
            Something here
        </div>
    </div>

    @section Scripts {
     <environment include="Development">
         <script src="/js/route.js" type="text/javascript"></script>
         <script src="/js/routes.js" type="text/javascript"></script>
        <script src="/js/main.js" defer="defer" type="text/javascript"></script>
    </environment>
  }